<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <!-- <link rel="stylesheet" href="./jikken.css"> -->
    <!-- <script src="./jikken.js" defer></script> -->
    <script src="https://kit.fontawesome.com/b0f29e9bfe.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <!-- Go back to game -->
    <div class="arrow">←</div>
    <!-- <div class = "pen">pen</div> -->



    <!-- Book -->
    <div class="a-book">

        <div id="book" class="book">
            
            <div class="fake-book">
                <div id="p1" class="paper">
                    <div class="front hyoushi">
                        <div id="f1" class="front-content title-content">
                            <h1 class="book-title">Adventure Report</h1>
                            <p class="jumon">ਟੈਕਸਟ ਅਤੇ ਦਸਤਾਵੇਜ਼ ਫਾਈਲਾਂ ਦਾ ਤੁਰੰਤ ਅਨੁਵਾਦ ਕਰੋ। ਭਾਵੇਂ ਤੁਸੀਂ ਇੱਕ ਵਿਅਕਤੀ ਹੋ ਜਾਂ ਇੱਕ ਟੀਮ, ਤੁਸੀਂ ਬਹੁਤ ਸਟੀਕ ਅਨੁਵਾਦਾਂ ਤੋਂ ਲਾਭ ਲੈ ਸਕਦੇ ਹੋ। ਲੱਖਾਂ ਲੋਕ ਹਰ ਰੋਜ਼ ਅਨੁਵਾਦ ਕਰਨ ਲਈ DeepL ਦੀ ਵਰਤੋਂ ਕਰਦੇ ਹਨ।ਟੈਕਸਟ ਅਤੇ ਦਸਤਾਵੇਜ਼ ਫਾਈਲਾਂ ਦਾ ਤੁਰੰਤ ਅਨੁਵਾਦ ਕਰੋ। ਭਾਵੇਂ ਤੁਸੀਂ ਇੱਕ ਵਿਅਕਤੀ ਹੋ ਜਾਂ ਇੱਕ ਟੀਮ, ਤੁਸੀਂ ਬਹੁਤ ਸਟੀਕ ਅਨੁਵਾਦਾਂ ਤੋਂ ਲਾਭ ਲੈ ਸਕਦੇ ਹੋ। ਲੱਖਾਂ ਲੋਕ ਹਰ ਰੋਜ਼ ਅਨੁਵਾਦ ਕਰਨ ਟੈਕਸਟ ਅਤੇ ਦਸਤਾਵੇਜ਼ ਫਾਈਲਾਂ ਦਾ ਤੁਰੰਤ ਅਨੁਵਾਦ ਕਰੋ। ਭਾਵੇਂ ਤੁਸੀਂ ਇੱਕ ਵਿਅਕਤੀ ਹੋ ਜਾਂ ਇੱਕ ਟੀਮ, ਤੁਸੀਂ ਬਹੁਤ ਸਟੀਕ ਅਨੁਵਾਦਾਂ ਤੋਂ ਲਾਭ ਲੈ ਸਕਦੇ ਹੋ। ਲੱਖਾਂ ਲੋਕ ਹਰ ਰੋਜ਼ ਅਨੁਵਾਦ ਕਰਨ ਲਈ DeepL ਦੀ ਵਰਤੋਂ ਕਰਦੇ ਹਨ।ਲਈ DeepL ਦੀ ਵਰਤੋਂ ਕਰਦੇ ਹਨ।</p>
                        </div>
                    </div>
                     
                    
                    <div class="back">
                        <div id="b1" class="back-content">
                            <div class="nakami">
                                <h1 class = "ID"><%= reports[0].Report_ID %> </h1>
                                <h1 class = "Dates"><%= reports[0].Date %></h1><br>
                                <h1 class="Usernames"><%= reports[0].Username %></h1><br>
                                <h1 class="Titles"><%= reports[0].Title %> </h1>
                                <h1 class="Texts"><%= reports[0].Text %> </h1><br>
                                 
                                <% if(!reports[0].Liked){ %> 
 
                                    
                                    <form action="/good" method="post" class="goodform">
                                        <input type="text" value="" name="fromWho" class="fromWho">
                                        <input type="text" value="" name="toWhich" class="toWhich">
                                        <h1 class="LikeButtons">👍</h1>
                                    </form>

                                    <form style="display: none;" action="/drop" method="post"dropss="dropform">
                                        <input type="text" value="" name="fromWhodrop" class="fromWhodrop">
                                        <input type="text" value="" name="toWhichdrop" class="toWhichdrop">
                                        <h1drop class="DropdropBDropns">👍</h1>
                                    </form>
                                 
                                
                                
                                <%}else if(reports[0].Liked.includes(reports[reports.length-1])){ %> 
                                    
                                    <form style="display: none;" action="/good" method="post" class="goodform">
                                        <input type="text" value="" name="fromWho" class="fromWho">
                                        <input type="text" value="" name="toWhich" class="toWhich">
                                        <h1 class="LikeButtons">👍</h1>
                                    </form>

                                    <form action="/drop" method="post" class="dropform">
                                        <input type="text" value="" name="fromWhodrop" class="fromWhodrop">
                                        <input type="text" value="" name="toWhichdrop" class="toWhichdrop">
                                        <h1 class="DropButtons">👍</h1>
                                    </form>
                                <% }else{%>
                                    <form action="/good" method="post" class="goodform">
                                        <input type="text" value="" name="fromWho" class="fromWho">
                                        <input type="text" value="" name="toWhich" class="toWhich">
                                        <h1 class="LikeButtons">👍</h1>
                                    </form>

                                    <form style="display: none;" action="/drop" method="post" class="dropform">
                                        <input type="text" value="" name="fromWhodrop" class="fromWhodrop">
                                        <input type="text" value="" name="toWhichdrop" class="toWhichdrop">
                                        <h1 class="DropButtons">👍</h1>
                                    </form>
                                <% } %> 
                                <% if(!reports[0].Liked){ %> 
                                    <h1 class="Likeds">0</h1>
                                <% }else{ %> 
                                    <h1 class="Likeds"><%= reports[0].Liked.length %> </h1><br>
                                <% } %> 
                                
                                <% if(reports[0].Username === reports[reports.length-1]){ %> 
                                <div class="modify">
                                    <div class = "edit">edit</div>
                                    <form action="/delete" method="post" class="deleteSubmit">
                                        <div class = "delete">delete</div>
                                        <input type="hidden" value="" name = "delete" class="deleteInputs">
                                    </form>
                                </div>
                                <% } %> 
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                <div id="p2" class="paper">
                    <div class="front">
                        <div id="f2" class="front-content">
                            <% if(reports.length >= 3){ %> 
                                <div class="nakami">
                                    <h1 class = "ID"><%= reports[1].Report_ID %> </h1>
                                    <h1 class = "Dates"><%= reports[1].Date %></h1><br>
                                    <h1 class="Usernames"><%= reports[1].Username %></h1><br>
                                    <h1 class="Titles"><%= reports[1].Title %> </h1>
                                    <h1 class="Texts"><%= reports[1].Text %> </h1><br>
                                     
                                    <% if(!reports[1].Liked){ %> 
 
                                        
                                        <form action="/good" method="post" class="goodform">
                                            <input type="text" value="" name="fromWho" class="fromWho">
                                            <input type="text" value="" name="toWhich" class="toWhich">
                                            <h1 class="LikeButtons">👍</h1>
                                        </form>

                                        <form style="display: none;" action="/drop" method="post" class="dropform">
                                        <input type="text" value="" name="fromWhodrop" class="fromWhodrop">
                                        <input type="text" value="" name="toWhichdrop" class="toWhichdrop">
                                        <h1 class="DropButtons">👍</h1>
                                        </form>
                                     
                                    
                                    
                                    <%}else if(reports[1].Liked.includes(reports[reports.length-1])){ %> 
                                        
                                        <form style="display: none;" action="/good" method="post" class="goodform">
                                        <input type="text" value="" name="fromWho" class="fromWho">
                                        <input type="text" value="" name="toWhich" class="toWhich">
                                        <h1 class="LikeButtons">👍</h1>
                                    </form>

                                    <form action="/drop" method="post" class="dropform">
                                        <input type="text" value="" name="fromWhodrop" class="fromWhodrop">
                                        <input type="text" value="" name="toWhichdrop" class="toWhichdrop">
                                        <h1 class="DropButtons">👍</h1>
                                    </form>
                                    <% }else{%>
                                        <form action="/good" method="post" class="goodform">
                                        <input type="text" value="" name="fromWho" class="fromWho">
                                        <input type="text" value="" name="toWhich" class="toWhich">
                                        <h1 class="LikeButtons">👍</h1>
                                    </form>

                                    <form style="display: none;" action="/drop" method="post" class="dropform">
                                        <input type="text" value="" name="fromWhodrop" class="fromWhodrop">
                                        <input type="text" value="" name="toWhichdrop" class="toWhichdrop">
                                        <h1 class="DropButtons">👍</h1>
                                    </form>
                                    <% } %> 
                                    <% if(reports[1].Liked){ %> 
                                        <h1 class="Likeds"><%= reports[1].Liked.length %> </h1><br>
                                    <% }else{ %> 
                                        <h1 class="Likeds">0</h1>
                                    <% } %> 

                                    <% if(reports[1].Username === reports[reports.length-1]){ %> 
                                    <div class="modify">
                                        <div class = "edit">edit</div>
                                        <form action="/delete" method="post" class="deleteSubmit">
                                            <div class = "delete">delete</div>
                                            <input type="hidden" value="" name = "delete" class="deleteInputs">
                                        </form>
                                    </div>
                                    <% } %> 
                                    
                                </div>
                                
                             <% }else{ %>    
                                <form action="/book" method="post">
                                    <input type="text" name="Title" placeholder="type title">
                                    <input type="text" name="Text" placeholder="type report">

                                    <button>wite down</button>
                                </form>
                            <% } %> 
                        </div>
                    </div>
                    <div class="back">
                        <div id="b2" class="back-content">
                            <% if(reports.length >= 4){ %> 
                                <div class="nakami">
                                    <h1 class = "ID"><%= reports[2].Report_ID %> </h1>
                                    <h1 class = "Dates"><%= reports[2].Date %></h1><br>
                                    <h1 class="Usernames"><%= reports[2].Username %></h1><br>
                                    <h1 class="Titles"><%= reports[2].Title %> </h1>
                                    <h1 class="Texts"><%= reports[2].Text %> </h1><br>
                                     
                                    <% if(!reports[2].Liked){ %> 
 
                                        
                                        <form action="/good" method="post" class="goodform">
                                            <input type="text" value="" name="fromWho" class="fromWho">
                                            <input type="text" value="" name="toWhich" class="toWhich">
                                            <h1 class="LikeButtons">👍</h1>
                                        </form>

                                        <form style="display: none;" action="/drop" method="post" class="dropform">
                                        <input type="text" value="" name="fromWhodrop" class="fromWhodrop">
                                        <input type="text" value="" name="toWhichdrop" class="toWhichdrop">
                                        <h1 class="DropButtons">👍</h1>
                                        </form>
                                     
                                    
                                    
                                    <%}else if(reports[2].Liked.includes(reports[reports.length-1])){ %> 
                                        
                                        <form style="display: none;" action="/good" method="post" class="goodform">
                                        <input type="text" value="" name="fromWho" class="fromWho">
                                        <input type="text" value="" name="toWhich" class="toWhich">
                                        <h1 class="LikeButtons">👍</h1>
                                    </form>

                                    <form action="/drop" method="post" class="dropform">
                                        <input type="text" value="" name="fromWhodrop" class="fromWhodrop">
                                        <input type="text" value="" name="toWhichdrop" class="toWhichdrop">
                                        <h1 class="DropButtons">👍</h1>
                                    </form>
                                    <% }else{%>
                                        <form action="/good" method="post" class="goodform">
                                        <input type="text" value="" name="fromWho" class="fromWho">
                                        <input type="text" value="" name="toWhich" class="toWhich">
                                        <h1 class="LikeButtons">👍</h1>
                                    </form>

                                    <form style="display: none;" action="/drop" method="post" class="dropform">
                                        <input type="text" value="" name="fromWhodrop" class="fromWhodrop">
                                        <input type="text" value="" name="toWhichdrop" class="toWhichdrop">
                                        <h1 class="DropButtons">👍</h1>
                                    </form>
                                    <% } %> 
                                    <% if(reports[2].Liked){ %> 
                                        <h1 class="Likeds"><%= reports[2].Liked.length %> </h1><br>
                                    <% }else{ %> 
                                        <h1 class="Likeds">0</h1>
                                    <% } %> 

                                    <% if(reports[2].Username === reports[reports.length-1]){ %> 
                                    <div class="modify">
                                        <div class = "edit">edit</div>
                                        <form action="/delete" method="post" class="deleteSubmit">
                                            <div class = "delete">delete</div>
                                            <input type="hidden" value="" name = "delete" class="deleteInputs">
                                        </form>
                                    </div>
                                    <% } %> 
                                </div>
                                
                             <% }else{ %>    
                                <form action="/book" method="post">
                                    <input type="text" name="Title" placeholder="type title">
                                    <input type="text" name="Text" placeholder="type report">

                                    <button>wite down</button>
                                </form>
                            <% } %> 
                        </div>
                    </div>
                </div>
                <!-- Paper 3 -->
                <div id="p3" class="paper">
                    <div class="front">
                        <div id="f3" class="front-content">
                            <% if(reports.length >= 5){ %> 
                                <div class="nakami">
                                    <h1 class = "ID"><%= reports[3].Report_ID %> </h1>
                                    <h1 class = "Dates"><%= reports[3].Date %></h1><br>
                                    <h1 class="Usernames"><%= reports[3].Username %></h1><br>
                                    <h1 class="Titles"><%= reports[3].Title %> </h1>
                                    <h1 class="Texts"><%= reports[3].Text %> </h1><br>
                                     
                                    <% if(!reports[3].Liked){ %> 
 
                                        
                                        <form action="/good" method="post" class="goodform">
                                            <input type="text" value="" name="fromWho" class="fromWho">
                                            <input type="text" value="" name="toWhich" class="toWhich">
                                            <h1 class="LikeButtons">👍</h1>
                                        </form>

                                        <form style="display: none;" action="/drop" method="post" class="dropform">
                                        <input type="text" value="" name="fromWhodrop" class="fromWhodrop">
                                        <input type="text" value="" name="toWhichdrop" class="toWhichdrop">
                                        <h1 class="DropButtons">👍</h1>
                                        </form>
                                     
                                    
                                    
                                    <%}else if(reports[3].Liked.includes(reports[reports.length-1])){ %> 
                                        
                                        <form style="display: none;" action="/good" method="post" class="goodform">
                                        <input type="text" value="" name="fromWho" class="fromWho">
                                        <input type="text" value="" name="toWhich" class="toWhich">
                                        <h1 class="LikeButtons">👍</h1>
                                    </form>

                                    <form action="/drop" method="post" class="dropform">
                                        <input type="text" value="" name="fromWhodrop" class="fromWhodrop">
                                        <input type="text" value="" name="toWhichdrop" class="toWhichdrop">
                                        <h1 class="DropButtons">👍</h1>
                                    </form>
                                    <% }else{%>
                                        <form action="/good" method="post" class="goodform">
                                        <input type="text" value="" name="fromWho" class="fromWho">
                                        <input type="text" value="" name="toWhich" class="toWhich">
                                        <h1 class="LikeButtons">👍</h1>
                                    </form>

                                    <form style="display: none;" action="/drop" method="post" class="dropform">
                                        <input type="text" value="" name="fromWhodrop" class="fromWhodrop">
                                        <input type="text" value="" name="toWhichdrop" class="toWhichdrop">
                                        <h1 class="DropButtons">👍</h1>
                                    </form>
                                    <% } %> 
                                    <% if(reports[3].Liked){ %> 
                                        <h1 class="Likeds"><%= reports[3].Liked.length %> </h1><br>
                                    <% }else{ %> 
                                        <h1 class="Likeds">0</h1>
                                    <% } %> 

                                    <% if(reports[3].Username === reports[reports.length-1]){ %> 
                                    <div class="modify">
                                        <div class = "edit">edit</div>
                                        <form action="/delete" method="post" class="deleteSubmit">
                                            <div class = "delete">delete</div>
                                            <input type="hidden" value="" name = "delete" class="deleteInputs">
                                        </form>
                                    </div>
                                    <% } %> 
                                </div>
                                
                             <% }else{ %>    
                                <form action="/book" method="post">
                                    <input type="text" name="Title" placeholder="type title">
                                    <input type="text" name="Text" placeholder="type report">

                                    <button>wite down</button>
                                </form>
                            <% } %> 
                        </div>
                    </div>
                    <div class="back">
                        <div id="b3" class="back-content">
                            <% if(reports.length >= 6){ %> 
                                <div class="nakami">
                                    <h1 class = "ID"><%= reports[4].Report_ID %> </h1>
                                    <h1 class = "Dates"><%= reports[4].Date %></h1><br>
                                    <h1 class="Usernames"><%= reports[4].Username %></h1><br>
                                    <h1 class="Titles"><%= reports[4].Title %> </h1>
                                    <h1 class="Texts"><%= reports[4].Text %> </h1><br>
                                     
                                    <% if(!reports[4].Liked){ %> 
 
                                        
                                        <form action="/good" method="post" class="goodform">
                                            <input type="text" value="" name="fromWho" class="fromWho">
                                            <input type="text" value="" name="toWhich" class="toWhich">
                                            <h1 class="LikeButtons">👍</h1>
                                        </form>

                                        <form style="display: none;" action="/drop" method="post" class="dropform">
                                        <input type="text" value="" name="fromWhodrop" class="fromWhodrop">
                                        <input type="text" value="" name="toWhichdrop" class="toWhichdrop">
                                        <h1 class="DropButtons">👍</h1>
                                        </form>
                                     
                                    
                                    
                                    <%}else if(reports[4].Liked.includes(reports[reports.length-1])){ %> 
                                        
                                        <form style="display: none;" action="/good" method="post" class="goodform">
                                        <input type="text" value="" name="fromWho" class="fromWho">
                                        <input type="text" value="" name="toWhich" class="toWhich">
                                        <h1 class="LikeButtons">👍</h1>
                                    </form>

                                    <form action="/drop" method="post" class="dropform">
                                        <input type="text" value="" name="fromWhodrop" class="fromWhodrop">
                                        <input type="text" value="" name="toWhichdrop" class="toWhichdrop">
                                        <h1 class="DropButtons">👍</h1>
                                    </form>
                                    <% }else{%>
                                        <form action="/good" method="post" class="goodform">
                                        <input type="text" value="" name="fromWho" class="fromWho">
                                        <input type="text" value="" name="toWhich" class="toWhich">
                                        <h1 class="LikeButtons">👍</h1>
                                    </form>

                                    <form style="display: none;" action="/drop" method="post" class="dropform">
                                        <input type="text" value="" name="fromWhodrop" class="fromWhodrop">
                                        <input type="text" value="" name="toWhichdrop" class="toWhichdrop">
                                        <h1 class="DropButtons">👍</h1>
                                    </form>
                                    <% } %> 
                                    <% if(reports[4].Liked){ %> 
                                        <h1 class="Likeds"><%= reports[4].Liked.length %> </h1><br>
                                    <% }else{ %> 
                                        <h1 class="Likeds">0</h1>
                                    <% } %> 

                                    <% if(reports[4].Username === reports[reports.length-1]){ %> 
                                    <div class="modify">
                                        <div class = "edit">edit</div>
                                        <form action="/delete" method="post" class="deleteSubmit">
                                            <div class = "delete">delete</div>
                                            <input type="hidden" value="" name = "delete" class="deleteInputs">
                                        </form>
                                    </div>
                                    <% } %> 
                                </div>
                                
                             <% }else{ %>    
                                <form action="/book" method="post">
                                    <input type="text" name="Title" placeholder="type title">
                                    <input type="text" name="Text" placeholder="type report">

                                    <button>wite down</button>
                                </form>
                            <% } %> 
                        </div>
                    </div>
                </div>
                <div id="p4" class="paper">
                    <div class="front">
                        <div id="f4" class="front-content">
                            <% if(reports.length >= 7){ %> 
                                <div class="nakami">
                                    <h1 class = "ID"><%= reports[5].Report_ID %> </h1>
                                    <h1 class = "Dates"><%= reports[5].Date %></h1><br>
                                    <h1 class="Usernames"><%= reports[5].Username %></h1><br>
                                    <h1 class="Titles"><%= reports[5].Title %> </h1>
                                    <h1 class="Texts"><%= reports[5].Text %> </h1><br>
                                     
                                    <% if(!reports[5].Liked){ %> 
 
                                        
                                        <form action="/good" method="post" class="goodform">
                                            <input type="text" value="" name="fromWho" class="fromWho">
                                            <input type="text" value="" name="toWhich" class="toWhich">
                                            <h1 class="LikeButtons">👍</h1>
                                        </form>

                                        <form style="display: none;" action="/drop" method="post" class="dropform">
                                        <input type="text" value="" name="fromWhodrop" class="fromWhodrop">
                                        <input type="text" value="" name="toWhichdrop" class="toWhichdrop">
                                        <h1 class="DropButtons">👍</h1>
                                        </form>
                                     
                                    
                                    
                                    <%}else if(reports[5].Liked.includes(reports[reports.length-1])){ %> 
                                        
                                        <form style="display: none;" action="/good" method="post" class="goodform">
                                        <input type="text" value="" name="fromWho" class="fromWho">
                                        <input type="text" value="" name="toWhich" class="toWhich">
                                        <h1 class="LikeButtons">👍</h1>
                                    </form>

                                    <form action="/drop" method="post" class="dropform">
                                        <input type="text" value="" name="fromWhodrop" class="fromWhodrop">
                                        <input type="text" value="" name="toWhichdrop" class="toWhichdrop">
                                        <h1 class="DropButtons">👍</h1>
                                    </form>
                                    <% }else{%>
                                        <form action="/good" method="post" class="goodform">
                                        <input type="text" value="" name="fromWho" class="fromWho">
                                        <input type="text" value="" name="toWhich" class="toWhich">
                                        <h1 class="LikeButtons">👍</h1>
                                    </form>

                                    <form style="display: none;" action="/drop" method="post" class="dropform">
                                        <input type="text" value="" name="fromWhodrop" class="fromWhodrop">
                                        <input type="text" value="" name="toWhichdrop" class="toWhichdrop">
                                        <h1 class="DropButtons">👍</h1>
                                    </form>
                                    <% } %> 
                                    <% if(reports[5].Liked){ %> 
                                        <h1 class="Likeds"><%= reports[5].Liked.length %> </h1><br>
                                    <% }else{ %> 
                                        <h1 class="Likeds">0</h1>
                                    <% } %> 

                                    <% if(reports[5].Username === reports[reports.length-1]){ %> 
                                    <div class="modify">
                                        <div class = "edit">edit</div>
                                        <form action="/delete" method="post" class="deleteSubmit">
                                            <div class = "delete">delete</div>
                                            <input type="hidden" value="" name = "delete" class="deleteInputs">
                                        </form>
                                    </div>
                                    <% } %> 
                                </div>
                                
                             <% }else{ %>    
                                <form action="/book" method="post">
                                    <input type="text" name="Title" placeholder="type title">
                                    <input type="text" name="Text" placeholder="type report">

                                    <button>wite down</button>
                                </form>
                            <% } %> 
                        </div>
                    </div>
                    <div class="back">
                        <div id="b4" class="back-content">
                            <% if(reports.length >= 8){ %> 
                                <div class="nakami">
                                    <h1 class = "ID"><%= reports[6].Report_ID %> </h1>
                                    <h1 class = "Dates"><%= reports[6].Date %></h1><br>
                                    <h1 class="Usernames"><%= reports[6].Username %></h1><br>
                                    <h1 class="Titles"><%= reports[6].Title %> </h1>
                                    <h1 class="Texts"><%= reports[6].Text %> </h1><br>
                                     
                                    <% if(!reports[6].Liked){ %> 
 
                                        
                                        <form action="/good" method="post" class="goodform">
                                            <input type="text" value="" name="fromWho" class="fromWho">
                                            <input type="text" value="" name="toWhich" class="toWhich">
                                            <h1 class="LikeButtons">👍</h1>
                                        </form>

                                        <form style="display: none;" action="/drop" method="post" class="dropform">
                                        <input type="text" value="" name="fromWhodrop" class="fromWhodrop">
                                        <input type="text" value="" name="toWhichdrop" class="toWhichdrop">
                                        <h1 class="DropButtons">👍</h1>
                                        </form>
                                     
                                    
                                    
                                    <%}else if(reports[6].Liked.includes(reports[reports.length-1])){ %> 
                                        
                                        <form style="display: none;" action="/good" method="post" class="goodform">
                                        <input type="text" value="" name="fromWho" class="fromWho">
                                        <input type="text" value="" name="toWhich" class="toWhich">
                                        <h1 class="LikeButtons">👍</h1>
                                    </form>

                                    <form action="/drop" method="post" class="dropform">
                                        <input type="text" value="" name="fromWhodrop" class="fromWhodrop">
                                        <input type="text" value="" name="toWhichdrop" class="toWhichdrop">
                                        <h1 class="DropButtons">👍</h1>
                                    </form>
                                    <% }else{%>
                                        <form action="/good" method="post" class="goodform">
                                        <input type="text" value="" name="fromWho" class="fromWho">
                                        <input type="text" value="" name="toWhich" class="toWhich">
                                        <h1 class="LikeButtons">👍</h1>
                                    </form>

                                    <form style="display: none;" action="/drop" method="post" class="dropform">
                                        <input type="text" value="" name="fromWhodrop" class="fromWhodrop">
                                        <input type="text" value="" name="toWhichdrop" class="toWhichdrop">
                                        <h1 class="DropButtons">👍</h1>
                                    </form>
                                    <% } %> 
                                    <% if(reports[6].Liked){ %> 
                                        <h1 class="Likeds"><%= reports[6].Liked.length %> </h1><br>
                                    <% }else{ %> 
                                        <h1 class="Likeds">0</h1>
                                    <% } %> 

                                    <% if(reports[6].Username === reports[reports.length-1]){ %> 
                                    <div class="modify">
                                        <div class = "edit">edit</div>
                                        <form action="/delete" method="post" class="deleteSubmit">
                                            <div class = "delete">delete</div>
                                            <input type="hidden" value="" name = "delete" class="deleteInputs">
                                        </form>
                                    </div>
                                    <% } %> 
                                </div>
                                
                             <% }else{ %>    
                                <form action="/book" method="post">
                                    <input type="text" name="Title" placeholder="type title">
                                    <input type="text" name="Text" placeholder="type report">

                                    <button>wite down</button>
                                </form>
                            <% } %> 
                        </div>
                    </div>
                </div>
                <div id="p5" class="paper">
                    <div class="front">
                        <div id="f5" class="front-content">
                            <% if(reports.length >= 9){ %> 
                                <div class="nakami">
                                    <h1 class = "ID"><%= reports[7].Report_ID %> </h1>
                                    <h1 class = "Dates"><%= reports[7].Date %></h1><br>
                                    <h1 class="Usernames"><%= reports[7].Username %></h1><br>
                                    <h1 class="Titles"><%= reports[7].Title %> </h1>
                                    <h1 class="Texts"><%= reports[7].Text %> </h1><br>
                                     
                                    <% if(!reports[7].Liked){ %> 
 
                                        
                                        <form action="/good" method="post" class="goodform">
                                            <input type="text" value="" name="fromWho" class="fromWho">
                                            <input type="text" value="" name="toWhich" class="toWhich">
                                            <h1 class="LikeButtons">👍</h1>
                                        </form>

                                        <form style="display: none;" action="/drop" method="post" class="dropform">
                                        <input type="text" value="" name="fromWhodrop" class="fromWhodrop">
                                        <input type="text" value="" name="toWhichdrop" class="toWhichdrop">
                                        <h1 class="DropButtons">👍</h1>
                                        </form>
                                     
                                    
                                    
                                    <%}else if(reports[7].Liked.includes(reports[reports.length-1])){ %> 
                                        
                                        <form style="display: none;" action="/good" method="post" class="goodform">
                                        <input type="text" value="" name="fromWho" class="fromWho">
                                        <input type="text" value="" name="toWhich" class="toWhich">
                                        <h1 class="LikeButtons">👍</h1>
                                    </form>

                                    <form action="/drop" method="post" class="dropform">
                                        <input type="text" value="" name="fromWhodrop" class="fromWhodrop">
                                        <input type="text" value="" name="toWhichdrop" class="toWhichdrop">
                                        <h1 class="DropButtons">👍</h1>
                                    </form>
                                    <% }else{%>
                                        <form action="/good" method="post" class="goodform">
                                        <input type="text" value="" name="fromWho" class="fromWho">
                                        <input type="text" value="" name="toWhich" class="toWhich">
                                        <h1 class="LikeButtons">👍</h1>
                                    </form>

                                    <form style="display: none;" action="/drop" method="post" class="dropform">
                                        <input type="text" value="" name="fromWhodrop" class="fromWhodrop">
                                        <input type="text" value="" name="toWhichdrop" class="toWhichdrop">
                                        <h1 class="DropButtons">👍</h1>
                                    </form>
                                    <% } %> 
                                    <% if(reports[7].Liked){ %> 
                                        <h1 class="Likeds"><%= reports[7].Liked.length %> </h1><br>
                                    <% }else{ %> 
                                        <h1 class="Likeds">0</h1>
                                    <% } %> 

                                    <% if(reports[7].Username === reports[reports.length-1]){ %> 
                                    <div class="modify">
                                        <div class = "edit">edit</div>
                                        <form action="/delete" method="post" class="deleteSubmit">
                                            <div class = "delete">delete</div>
                                            <input type="hidden" value="" name = "delete" class="deleteInputs">
                                        </form>
                                    </div>
                                    <% } %> 
                                </div>
                                
                             <% }else{ %>    
                                <form action="/book" method="post">
                                    <input type="text" name="Title" placeholder="type title">
                                    <input type="text" name="Text" placeholder="type report">

                                    <button>wite down</button>
                                </form>
                            <% } %> 
                        </div>
                    </div>
                    <div class="back">
                        <div id="b5" class="back-content">
                            <% if(reports.length >= 10){ %> 
                                <div class="nakami">
                                    <h1 class = "ID"><%= reports[8].Report_ID %> </h1>
                                    <h1 class = "Dates"><%= reports[8].Date %></h1><br>
                                    <h1 class="Usernames"><%= reports[8].Username %></h1><br>
                                    <h1 class="Titles"><%= reports[8].Title %> </h1>
                                    <h1 class="Texts"><%= reports[8].Text %> </h1><br>
                                </div>
                                    <% }else{ %>    
                                        <form action="/book" method="post">
                                    <input type="text" name="Title" placeholder="type title">
                                    <input type="text" name="Text" placeholder="type report">

                                    <button>wite down</button>
                                </form>
                            <% } %> 
                        </div>
                    </div>
                </div>
                <div id="p6" class="paper">
                    <div class="front">
                        <div id="f6" class="front-content">
                            <% if(reports.length >= 11){ %> 
                                <div class="nakami">
                                    <h1 class = "ID"><%= reports[9].Report_ID %> </h1>
                                    <h1 class = "Dates"><%= reports[9].Date %></h1><br>
                                    <h1 class="Usernames"><%= reports[9].Username %></h1><br>
                                    <h1 class="Titles"><%= reports[9].Title %> </h1>
                                    <h1 class="Texts"><%= reports[9].Text %> </h1><br>
                                </div>
                                    <% }else{ %>    
                                        <form action="/book" method="post">
                                    <input type="text" name="Title" placeholder="type title">
                                    <input type="text" name="Text" placeholder="type report">

                                    <button>wite down</button>
                                </form>
                            <% } %> 
                        </div>
                    </div>
                    <div class="back">
                        <div id="b6" class="back-content">
                            <% if(reports.length >= 12){ %> 
                                <div class="nakami">
                                    <h1 class = "ID"><%= reports[10].Report_ID %> </h1>
                                    <h1 class = "Dates"><%= reports[10].Date %></h1><br>
                                    <h1 class="Usernames"><%= reports[10].Username %></h1><br>
                                    <h1 class="Titles"><%= reports[10].Title %> </h1>
                                    <h1 class="Texts"><%= reports[10].Text %> </h1><br>
                                </div>
                                    <% }else{ %>    
                                        <form action="/book" method="post">
                                    <input type="text" name="Title" placeholder="type title">
                                    <input type="text" name="Text" placeholder="type report">

                                    <button>wite down</button>
                                </form>
                            <% } %> 
                        </div>
                    </div>
                </div>
                <div id="p7" class="paper">
                    <div class="front">
                        <div id="f7" class="front-content">
                            <h1>Front 7</h1>
                        </div>
                    </div>
                    <div class="back">
                        <div id="b7" class="back-content">
                            <h1>Back 7</h1>
                        </div>
                    </div>
                </div>
                <div id="p8" class="paper">
                    <div class="front">
                        <div id="f8" class="front-content">
                            <h1>Front 8</h1>
                        </div>
                    </div>
                    <div class="back">
                        <div id="b8" class="back-content">
                            <h1>Back 8</h1>
                        </div>
                    </div>
                </div>
                <div id="p9" class="paper">
                    <div class="front">
                        <div id="f9" class="front-content">
                            <h1>Front 9</h1>
                        </div>
                    </div>
                    <div class="back">
                        <div id="b9" class="back-content">
                            <h1>Back 9</h1>
                        </div>
                    </div>
                </div>
                <div id="p10" class="paper">
                    <div class="front">
                        <div id="f10" class="front-content">
                            <h1>Front10</h1>
                        </div>
                    </div>
                    <div class="back">
                        <div id="b10" class="back-content">
                            <h1>Back 10</h1>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="box-page">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </div>

            <div class="spine">

            </div>

        </div>

    </div>


    <!-- torch -->
    <div class="torch">

        <div class="holder">
            <div class="candle">
                <div class="blinking-glow"></div>
                <div class="thread"></div>
                <div class="glow"></div>
                <div class="flame"></div>
            </div>
        </div>
    </div>

    <!-- bar -->
    <div class="bar-image"></div>
    <div class="table"></div>


    <script>

console.log(document.cookie);
        // References to DOM Elements
// const prevBtn = document.querySelector("#prev-btn");
// const nextBtn = document.querySelector("#next-btn");
const book = document.querySelector("#book");
const title = document.querySelector(".title-contents")

const paper1 = document.querySelector("#p1");
const paper2 = document.querySelector("#p2");
const paper3 = document.querySelector("#p3");
const paper4 = document.querySelector("#p4");
const paper5 = document.querySelector("#p5");
const paper6 = document.querySelector("#p6");
const paper7 = document.querySelector("#p7");
const paper8 = document.querySelector("#p8");
const paper9 = document.querySelector("#p9");
const paper10 = document.querySelector("#p10");

const fakeBook = document.querySelector(".fake-book")
const boxPageLi = document.querySelectorAll("li");

// Event Listener
// prevBtn.addEventListener("click", goPrevPage);
// nextBtn.addEventListener("click", goNextPage);
window.addEventListener("keydown", (e)=>{
    if(e.key === "d"){
        goNextPage()
        console.log("next")
    }
    if(e.key === "a"){
        goPrevPage()
        console.log("pre")
    }
})


// Business Logic
let currentLocation = 1;
let numOfPapers = 10;
let maxLocation = numOfPapers + 1;

function openBook() {
    book.style.transform = "translateX(50%)";
    fakeBook.style.transform = "rotate(0deg)"
    fakeBook.style.width = "120%"
    fakeBook.style.height = "110%"
    fakeBook.style.left = "-38px"
    fakeBook.style.backgroundColor = "red"
    boxPageLi.forEach((box)=>{
        box.classList.toggle("read")
    })

}

function closeBook(isAtBeginning) {
    if(isAtBeginning) {
        book.style.transform = "translateX(0%)";
        fakeBook.style.transform = "rotateX(33deg)"
        fakeBook.style.width = "105%"
        fakeBook.style.height = "100%"
        fakeBook.style.left = "-6px"
    } else {
        book.style.transform = "translateX(100%)";
    }
    
    // prevBtn.style.transform = "translateX(0px)";
    // nextBtn.style.transform = "translateX(0px)";
}

function goNextPage() {
    if(currentLocation < maxLocation) {
        switch(currentLocation) {
            case 1:
                openBook();
                
                paper1.classList.add("flipped");
                
                paper1.style.zIndex = 1;
                
                
                break;
            case 2:
                paper2.classList.add("flipped");
                paper2.style.zIndex = 2;
                break;
            case 3:
                paper3.classList.add("flipped");
                paper3.style.zIndex = 3;
                
                break;
            case 4:
                paper4.classList.add("flipped");
                paper4.style.zIndex = 4;
                break;
            case 5:
                paper5.classList.add("flipped");
                paper5.style.zIndex = 5;
                break;
            case 6:
                paper6.classList.add("flipped");
                paper6.style.zIndex = 6;
                break;
            case 7:
                paper7.classList.add("flipped");
                paper7.style.zIndex = 7;
                break;
            case 8:
                paper8.classList.add("flipped");
                paper8.style.zIndex = 8;
                break;
            case 9:
                paper9.classList.add("flipped");
                paper9.style.zIndex = 9;
                break;
            case 10:
                paper10.classList.add("flipped");
                paper10.style.zIndex = 10;
                closeBook(false);
                break;
            default:
                throw new Error("unkown state");
        }
        currentLocation++;
    }
}

function goPrevPage() {
    if(currentLocation > 1) {
        switch(currentLocation) {
            case 2:
                closeBook(true);
                paper1.classList.remove("flipped");
                paper1.style.zIndex = 11;
                break;
            case 3:
                paper2.classList.remove("flipped");
                paper2.style.zIndex = 10;
                break;
            case 4:
                
                paper3.classList.remove("flipped");
                paper3.style.zIndex = 9;
                break;
            case 5:
                paper4.classList.remove("flipped");
                paper4.style.zIndex = 8;
            case 6:
                paper5.classList.remove("flipped");
                paper5.style.zIndex = 7;
            case 7:
                paper6.classList.remove("flipped");
                paper6.style.zIndex = 6;
            case 8:
                paper7.classList.remove("flipped");
                paper7.style.zIndex = 5;
            case 9:
                paper8.classList.remove("flipped");
                paper8.style.zIndex = 4;
            case 10:
                paper9.classList.remove("flipped");
                paper9.style.zIndex = 3;
                break;
            case 11:
                paper10.classList.remove("flipped");
                paper10.style.zIndex = 2;
                openBook();
                break;
            default:
                throw new Error("unkown state");
        }

        currentLocation--;
    }
}

const arrow = document.querySelector(".arrow")
arrow.addEventListener("click", ()=>{
    window.location.href = "/game";
})



const edit = document.querySelectorAll(".edit")
const deletee = document.querySelectorAll(".delete")
const deleteSubmit = document.querySelectorAll(".deleteSubmit")
const IDs = document.querySelectorAll(".ID")
const deleteInputs = document.querySelectorAll(".deleteInputs");

deletee.forEach((each, i)=>{
    each.addEventListener("click", ()=>{
        // console.log(reports[0])
        const selectedID = IDs[i].innerHTML
        console.log(deleteSubmit[i])
        deleteInputs[i].value = selectedID;
        deleteSubmit[i].submit();
    })
})

const nakamis = document.querySelectorAll(".nakami");
edit.forEach((each, i)=>{
    each.addEventListener("click", ()=>{
        nakamis[i].innerHTML = `
            <div class="nakami">
                <form class = "update-form" action="/update" method="post">
                    <input  type="text" placeholder="write your title" name="Title" class="updateTitle" placeholder = "title">
                    <input type="text" placeholder="write your report" name = "Text" class="updateText" placeholder = "write your report">
                    <input type = "hidden" class = "updateindex" name="ID" value = "">
                    <button class = "update-submmit">write</button>
                </form>
            </div>
        `;

        const updateindex = document.querySelectorAll(".updateindex");
        updateindex[i].value = IDs[i].innerHTML;
        
    })
})

const goodButtons = document.querySelectorAll(".LikeButtons")
const goodForms = document.querySelectorAll(".goodform")
const fromWhos = document.querySelectorAll(".fromWho");
const toWhichs = document.querySelectorAll(".toWhich");
IDs.forEach((each, i)=>{
    each.addEventListener("click", ()=>{
        console.log(IDs[i].innerHTML)
    })
})
goodButtons.forEach((button, i)=>{
    button.addEventListener("click", ()=>{
        fromWhos[i].value = decodeURIComponent(document.cookie).split(";")[1].split("=")[1];
        toWhichs[i].value = IDs[i].innerHTML;
        goodForms[i].submit();
        // console.log(document.cookie)
    })
})


const dropButtons = document.querySelectorAll(".DropButtons")
const dropforms = document.querySelectorAll(".dropform");
const fromwhodrops = document.querySelectorAll(".fromWhodrop");
const toWhichdrop = document.querySelectorAll(".toWhichdrop");
dropButtons.forEach((button, i)=>{
    button.addEventListener(("click"), ()=>{
        fromwhodrops[i].value = decodeURIComponent(document.cookie).split(";")[1].split("=")[1];
        toWhichdrop[i].value = IDs[i].innerHTML;
        dropforms[i].submit();
    })
})
    </script>
</body>


<style>
    * {
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* display: flex; */
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    font-family: sans-serif;
    background-color: rgb(237, 216, 195);
}

.arrow{
    position: absolute;
    z-index: 9;
    font-size: 150px;
    /* background-color: #000000; */
    color: white;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding-top: -20px;
    transition: 1s;
}

.arrow:hover{
    background-color: #ffffff;
    color: black;
    cursor: pointer;
}

.pen{
    position: absolute;
    font-size: 100px;
    bottom: 50px;
    left: 150px;
    width: 300px;
    height: 200px;
    /* background-color: #ffffff; */
    color: white;
    padding-top: 30px;
    padding-left: 20px;
    text-align: center;
    border-radius: 150px;
    transition: 1s;
}

.pen:hover{
    background-color: #ffffff;
    color: black;
    cursor: pointer;
}



.a-book{
    position: absolute;
    left: 100px;
    
}
/* Book */
.book {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
    transform: rotateX(-0deg);
    left: 450px;
    top: 140px;
    /* box-shadow: 1px 1px 10px gray; */
    perspective: 1000px;

}

.fake-book{
  position: absolute;
  width: 105%;
  height: 100%;
  transform: rotateX(33deg);
  top: -15px;
  left: -6px;
  z-index: 1;
  transition: 1s;
}

/* .book:hover .fake-book{
  transform: rotate(0deg);
  width: 120%;
  height: 110%;
  left: -38px;
}

.book:hover .box-page>li{
  transform: rotate(0deg);
} */

.spine{
  position: absolute;
  width: 102%;
  height: 100%;
  transform: rotateX(30deg);
  border: 1px solid rgb(0, 0, 0);
  top: 5px;
  left: -px;
  z-index: -1;
  background-color: #7b4a21;
  
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;

}

.front,
.back {
    background-color: rgb(255, 239, 216);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 1s;
}

.book-title{
  font-size: 30px;
  margin-bottom: 50px;
}

.hyoushi{
  background-color: #624325;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid rgb(103, 58, 10);
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px black;

}

.title-content{
  display: flex;
  flex-direction: column;
}

.jumon{
  width: 70%;
  border: 5px solid rgb(140, 114, 31);
  padding: 20px;
}



.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

.box-page{
  perspective: 1000px;
  transform: rotate3d();
  /* transform: rotateX(40deg); */
  /* margin-top: -200px; */
  position: absolute;
  width: 100%;
  height: 100%;
}

li .read{
  transform: rotate(0deg);
}

.box-page li:nth-child(1){
  transform: rotateX(30deg);
  /* perspective: 100px; */
}
.box-page li:nth-child(2){
  transform: rotateX(32deg);
  /* perspective: 100px; */
}
.box-page li:nth-child(3){
  transform: rotateX(34deg);
  /* perspective: 100px; */
}
.box-page li:nth-child(4){
  transform: rotateX(36deg);
  /* perspective: 100px; */
}
.box-page li:nth-child(5){
  transform: rotateX(38deg);
  /* perspective: 100px; */
}
.box-page li:nth-child(6){
  transform: rotateX(40deg);
  /* perspective: 100px; */
}
.box-page li:nth-child(7){
  transform: rotateX(42deg);
  /* perspective: 100px; */
}

.box-page>li{
  background: -webkit-linear-gradient(left, rgb(255, 239, 216) 0%, rgb(255, 239, 216) 100%);
  background: linear-gradient(left, rgb(255, 239, 216) 0%, rgb(255, 239, 216) 100%);
  border-radius: 0px 5px 5px 0px;
  border: solid 1px black;
  width: 100%;
  height: 100%;
  transition: 1s;
}

.box-page, 
.box-page>li{
  position: absolute;
}

i {
    font-size: 50px;
    color: gray;
}

/* Paper stack order */
#p1 {
    z-index: 3;
    background-color: rgb(79, 57, 17);
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
    
}

.bar-image{
    width: 1700px;
    height: 920px;
    background-image: url("/img/bar.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    z-index: -5;
    background-color: rgb(182, 111, 254);
    position: absolute

}

.nakami{
    /* background-color: white; */
    width: 90%;
    height: 90%;
    position: relative;

}

.Dates{
position: absolute;
top: 50px;
left: 50px;
}

.Usernames{
    position: absolute;
    top: 50px;
    left: 200px;

}

.Titles{
    position: absolute;
    top: 140px;
    left: 110px;
    font-size: 35px;
}

.Texts{
    position: absolute;
    top: 200px;
    left: 20px;
    text-decoration: underline;
}

.LikeButtons{
position: absolute;
    bottom: 10px;
    right: 50px;
    color: black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    outline: none;
    background-color: blanchedalmond;
    border-radius: 50px;
    transition: 0.5s;
}

.LikeButtons:hover{
    background-color: #e78e0e;
}

.Likeds{
position: absolute;
bottom: 10px;
right: 20px;
}

.dropform{
    position: absolute;
    bottom: 10px;
    right: 40px;
}

.fromWhodrop{
    display: none;
}

.toWhichdrop{
    display: none;
}

.fromWho{
    display: none;
}
.toWhich{
    display: none;
}

.DropButtons{
    
    background-color: #b56107;
    transform: rotateZ(-50deg);
    border-radius: 50px;
    transition: 0.5s;
}

.modify{
    position:absolute;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    width: 150px;
    bottom: 10px;
    left: 20px;
}

.table{
    position: absolute;
    width: 2000px;
    height: 1000px;
    /* bottom: 500px; */
    top: 50px;
    right: -200px;
    background-image: url("/img/tablee.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -4;
    /* background-color: rgb(182, 111, 254); */
}



/* torch */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700,700i');


*, *:before, *:after {
	margin: 0;
	padding: 0;
	word-break: break-all;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

/* body {
	font-family: 'Ubuntu', sans-serif;
	color: #6e6e6e;
	font-size: 1.6rem;
  background: black;
} */

header, footer {
  display: block;
}

.deleteSubmit:hover{
    cursor: pointer;
    font-size: 30px;
    transition: 0.5s;
}

.deleteSubmit:hover + .edit{
    margin-right: 20px;
    margin-top: 10px;
}



.edit:hover{
    cursor: pointer;
    font-size: 30px;
    transition: 0.5s;
}

.edit:hover + .deleteSubmit{
    /* margin-left: 20px; */
    /* margin-top: 10px; */
}

a, a:link, a:visited {
  text-decoration: none;
}

img {
	border: 0;
}

ul {
	list-style: none;
}

.center {
  width: 1170px;
  margin: 20px auto 0;
}

.updateTitle{
    position: absolute;
    left: 100px;
    top: 100px;
    height: 50px;
    text-align: center;
    background-color: blanchedalmond;
    border-radius: 20px;
    border: solid 5px rgb(195, 133, 52);
}

.updateText{
    position: absolute;
    left: 100px;
    top: 200px;
    width: 170px;
    height: 200px;
    background-color: blanchedalmond;
    border-radius: 20px;
    border: solid 5px rgb(195, 133, 52);
    text-align: center;
}

.update-form{

}

.update-submmit{
    position: absolute;
    bottom: -40px;
    left: 125px;
    border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
        background-color: rgb(195, 133, 52);
    border-radius: 20px;
    font-size: 20px;
    width: 120px;
    height: 50px;

}

.torch{
    position: absolute;
    right: 150px;
    top: 150px;
}
.holder {
  margin: 12rem auto 0;
  width: 150px;
  height: 400px;
  position: relative;
}

.holder *, .holder *:before, .holder *:after {
  position: absolute;
  content: "";
}

.candle {
  bottom: 0;
  width: 150px;
  height: 300px;
  border-radius: 150px / 40px;
  box-shadow: inset 20px -30px 50px 0 rgba(0, 0, 0, 0.4), inset -20px 0 50px 0 rgba(0, 0, 0, 0.4);
  background: #190f02;
  background: -moz-linear-gradient(#e48825, #e78e0e, #833c03, #4c1a03 50%, #1c0900);
  background: -webkit-linear-gradient(#e48825, #e78e0e, #833c03, #4c1a03 50%, #1c0900);
  background: -o-linear-gradient(#e48825, #e78e0e, #833c03, #4c1a03 50%, #1c0900);
  background: -ms-linear-gradient(#e48825, #e78e0e, #833c03, #4c1a03 50%, #1c0900);
  background: linear-gradient(#e48825, #e78e0e, #833c03, #4c1a03 50%, #1c0900);
}

.candle:before {
  width: 100%;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #d47401;
  background: #b86409;
  background: -moz-radial-gradient(#eaa121, #8e4901 45%, #b86409 80%);
  background: -webkit-radial-gradient(#eaa121, #8e4901 45%, #b86409 80%);
  background: -o-radial-gradient(#eaa121, #8e4901 45%, #b86409 80%);
  background: -ms-radial-gradient(#eaa121, #8e4901 45%, #b86409 80%);
  background: radial-gradient(#ffef80, #b86409 60%);
  background: radial-gradient(#eaa121, #8e4901 45%, #b86409 80%);
}

.candle:after {
  width: 34px;
  height: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  top: 14px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  background: -moz-radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
  background: -o-radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
  background: -ms-radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
  background: radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
}

.thread {  
  width: 6px;
  height: 36px;
  top: -17px;
  left: 50%;
  z-index: 1;
  border-radius: 40% 40% 0 0;
  transform: translateX(-50%);
  background: #121212;
  background: -moz-linear-gradient(#d6994a, #4b232c, #121212, black, #e8bb31 90%);
  background: -webkit-linear-gradient(#d6994a, #4b232c, #121212, black, #e8bb31 90%);
  background: -o-linear-gradient(#d6994a, #4b232c, #121212, black, #e8bb31 90%);
  background: -ms-linear-gradient(#d6994a, #4b232c, #121212, black, #e8bb31 90%);
  background: linear-gradient(#d6994a, #4b232c, #121212, black, #e8bb31 90%);
}

.flame {
  width: 24px;
  height: 120px;
  left: 50%;
  transform-origin: 50% 100%;
  transform: translateX(-50%);
  bottom: 100%;
  border-radius: 50% 50% 20% 20%;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(white 80%, transparent);
  background: -webkit-linear-gradient(white 80%, transparent);
  background: -o-linear-gradient(white 80%, transparent);
  background: -ms-linear-gradient(white 80%, transparent);
  background: linear-gradient(white 80%, transparent);
  animation: moveFlame 6s linear infinite, enlargeFlame 5s linear infinite;
}

.flame:before {
  width: 100%;
  height: 100%;
  border-radius: 50% 50% 20% 20%;
  box-shadow: 0 0 15px 0 rgba(247, 93, 0, .4), 0 -6px 4px 0 rgba(247, 128, 0, .7);
}

@keyframes moveFlame {
  0%, 100% {
    transform: translateX(-50%) rotate(-2deg);
  }
  50% {
    transform: translateX(-50%) rotate(2deg);
  }
}

@keyframes enlargeFlame {
  0%, 100% {
    height: 120px;
  }
  50% {
    height: 140px;
  }
}

.glow {
  width: 26px;
  height: 60px;
  border-radius: 50% 50% 35% 35%;
  left: 50%;
  top: -48px;
  transform: translateX(-50%);
  background: rgba(0, 133, 255, .7);
  box-shadow: 0 -40px 30px 0 #dc8a0c, 0 40px 50px 0 #dc8a0c, inset 3px 0 2px 0 rgba(0, 133, 255, .6), inset -3px 0 2px 0 rgba(0, 133, 255, .6);
}

.glow:before {
  width: 70%;
  height: 60%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.35);
}

.blinking-glow {
  width: 100px;
  height: 180px;
  left: 50%;
  top: -55%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: #ff6000;
  -webkit-filter: blur(50px);
  -moz-filter: blur(60px);
  -o-filter: blur(60px);
  -ms-filter: blur(60px);
  filter: blur(60px);
  animation: blinkIt .1s infinite;
}

@keyframes blinkIt {
  50% { opacity: .8;}
}

</style>
</html>